<!DOCTYPE html>
<html lang="ru">
    <head>
        {% load static %}
        <link rel ="stylesheet" href = "{% static 'css/normalize.css' %}">
        <link rel ="stylesheet" href = "{% static 'css/style.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>География</title>
    </head>
    <body>
        <header class = "header">
            <div class = "logo container">
                <img src = "{% static 'img/logo.svg' %}">
                <p>NoSleep</p>
            </div>
            <nav>
              <ul class="menu">
                <li><a href="{% url 'index_page' %}">Главная</a></li>
                <li><a href="{% url 'demand_page' %}">Востребованность</a></li>
                <li><a href="{% url 'skills_page' %}">Навыки</a></li>
                <li><a href="{% url 'last_vacs_page' %}">Последние вакансии</a></li>
              </ul>
            </nav>
        </header>

        <main>
            <section class="third-sec pre-data container">
                <h2>Уровень зарплат по городам</h2>
            </section>
            <div class="table container">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Город</th>
                            <th>Средняя з/п</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in salary_avg_area_stat %}
                            <tr>
                                <td>{{ stat.area_name }}</td>
                                <td>{{ stat.salary_avg }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
			    {{salary_avg_area_graph | safe }}
		    </div>
            <section class="third-sec pre-data container">
                <h2>Уровень зарплат по городам для вакансий C#</h2>
            </section>
		    <div class="table container">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Город</th>
                            <th>Средняя з/п</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in salary_avg_area_prof_stat %}
                            <tr>
                                <td>{{ stat.area_name }}</td>
                                <td>{{ stat.salary_avg_prof }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{salary_avg_area_prof_graph | safe }}
            </div>
            <section class="third-sec pre-data container">
                <h2>Доля вакансий по городам</h2>
            </section>
            <div class="table container">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Город</th>
                            <th>Средняя з/п</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in vacancies_percent_area_stat %}
                            <tr>
                                <td>{{ stat.area_name }}</td>
                                <td>{{ stat.vacancies_percent }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{vacancies_percent_area_graph | safe }}
            </div>
            <section class="third-sec pre-data container">
                <h2>Доля вакансий по городам для вакансий C#</h2>
            </section>
            <div class="table container">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Город</th>
                            <th>Средняя з/п</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in vacancies_percent_area_prof_stat %}
                            <tr>
                                <td>{{ stat.area_name }}</td>
                                <td>{{ stat.vacancies_percent_prof }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{vacancies_percent_area_prof_graph | safe }}
            </div>
            <div class="white"></div>
            <footer class = "footer">
                <div class = "container footer-element">
                    <p class = "footer-txt">
                        Горский Иван Артёмович РИ-220911
                    </p>
                </div>
            </footer>
        </main>
    </body>
</html>