<!DOCTYPE html>
<html lang="ru">
    <head>
        {% load static %}
        <link rel ="stylesheet" href = "{% static 'css/normalize.css' %}">
        <link rel ="stylesheet" href = "{% static 'css/style.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>C#-программист</title>
    </head>
    <body>
        <header class = "header">
            <div class = "logo container">
                <img src = "{% static 'img/logo.svg' %}">
                <p>NoSleep</p>
            </div>

            <nav>
              <ul class="menu">
                <li><a href="{% url 'demand_page' %}">Востребованность</a></li>
                <li><a href="{% url 'geography_page' %}">География</a></li>
                <li><a href="{% url 'skills_page' %}">Навыки</a></li>
                <li><a href="{% url 'last_vacs_page' %}">Последние вакансии</a></li>
              </ul>
            </nav>
        </header>

        <main>
            <section class="first-sec container">
                <h1>
                    C#-Программист
                </h1>
                <h2>Кто такой разработчик на C# и чем занимается?</h2>

                <p class="info">
                    Разработчик на C# – это IT-специалист, который использует данный язык программирования для создания компьютерных программ, в том числе:<br>
                    •	сайтов, мобильных, десктопных и веб-приложений;<br>
                    •	облачных сервисов;<br>
                    •	консольных и оконных файловых менеджеров;<br>
                    •	микросервисов;<br>
                    •	игр и пр.<br>
                    Возможности C# обширны, поэтому он применяется в разных сферах. Обязанности конкретного специалиста зависят от того, в какой отрасли он работает: одни пишут приложения для корпоративного сектора, другие занимаются видеоиграми, третьи создают онлайн-сервисы для заказа товаров и услуг.
                </p>
            </section>
            <div class="white">

            </div>
             <section class="second-sec container">
                <p class="info">
                    Разработчик на C# – это IT-специалист, который использует данный язык программирования для создания компьютерных программ, в том числе:<br>
                    •	сайтов, мобильных, десктопных и веб-приложений;<br>
                    •	облачных сервисов;<br>
                    •	консольных и оконных файловых менеджеров;<br>
                    •	микросервисов;<br>
                    •	игр и пр.<br>
                    Возможности C# обширны, поэтому он применяется в разных сферах. Обязанности конкретного специалиста зависят от того, в какой отрасли он работает: одни пишут приложения для корпоративного сектора, другие занимаются видеоиграми, третьи создают онлайн-сервисы для заказа товаров и услуг.
                </p>
            </section>

            <div class="white">

            </div>
            <section class="third-sec container">
                <h2>Junior</h2>
                <div class="skill-info">
                    <img src="{% static 'img/img_2.png' %}">


                    <p class="info">
                        Джуниор – это новичок, который знает язык C# на начальном уровне и имеет опыт разработки от полугода. Он пишет простые скрипты, выполняет типовые задачи, которые не несут большой нагрузки или не используются в масштабных проектах.
                        Его код часто оказывается слишком сложным, запутанным, нередко содержит ошибки, поэтому junior работает под руководством опытного наставника.<br>
                        Требования к джуниор-разработчику:<br>
                        •	Понимание основных структур данных и алгоритмов.<br>
                        •	Знание базового синтаксиса, ООП, общие представления о фреймворках.<br>
                        •	Способность к самообучению, умение слышать и учитывать критику, желание работать над качеством своего кода.<br>
                    </p>
                </div>
            </section>
            <section class="third-sec container">
                <h2>Middle</h2>
                <div class="skill-info">
                    <p class="info right" align="right">
                        Мидл-разработчик – это специалист, который программирует не менее двух-трех лет, имеет опыт работы на всех циклах разработки, пишет чистый, лаконичный код, который не нуждается в ревью и понятен другим разработчикам.<br>
                        Что должен уметь middle: <br>
                        •	Самостоятельно создать программу или приложение.<br>
                        •	Выбрать стек технологий для решения ТЗ, оценить сроки и сложность выполнения проекта.<br>
                        •	Программировать не только на Си Шарп, но и владеть другими языками, например, Java или С++.<br>
                        •	Использовать фреймворк .NET.<br>
                        •	Знать процессы разработки ПО, парадигмы ООП, принципы SOLID, паттерны проектирования и архитектуры.<br>

                    </p>

                    <img src="{% static 'img/img_3.png' %}">
                </div>
            </section>

            <section class="third-sec container">
                <h2>Senior</h2>
                <div class="skill-info">
                    <img src="{% static 'img/img_3.png' %}">
                    <p class="info right" align="right">
                        Senior-программист – это профессионал с опытом от 5 лет, который обладает обширными знаниями не только в программировании, но и в смежных областях, например, в особенностях промышленной, корпоративный или коммерческой разработки.<br>
                        Он решает сложные и нестандартные задачи, может самостоятельно собрать с нуля проект любой сложности. Часто он совмещает обязанности старшего технического специалиста и тимлида: распределяет задания между исполнителями, контролирует промежуточные этапы и отвечает за конечный результат. Для работы на такой должности нужно знать методологии Scrum и Kanban.

                    </p>

                </div>
            </section>

            <div class="white">

            </div>
            <footer class = "footer">
                <div class = "container footer-element">
                    <p class = "footer-txt">
                        Горский Иван Артёмович РИ-220911
                    </p>
                </div>
            </footer>
        </main>
    </body>
</html>